
@{
    ViewBag.Title = "LutronLightFloorController";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    

    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-confirm.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="~/Content/css/RangeSlidar.css" rel="stylesheet" />
    <link href="~/Content/css/LutronLightFloor.css" rel="stylesheet" />
    <link href="~/Content/css/datatable.css" rel="stylesheet" />

</head>
<html>


<body>
    <h2>LutronLightFloor</h2>
    <div class="col-sm-12">

        <div class="container col-sm-6 panel panel-warning">
            <h4 class='panel-default bccolorwhite'>Devices</h4>
            <div id="floorHtml">
            </div>

        </div>

        <div class="container col-sm-5 panel panel-warning m-l-5">
            <h4 class='panel-default bccolorwhite'>Lights</h4>
            <div id="floorlight">
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="col-sm-6 p-l-5">
            <div class="container col-sm-12 panel panel-warning ">
                <h4 class='panel-default bccolorwhite'>Light Sense</h4>
                <div class="panel-body">
                    <div>
                        <label class=" col-sm-3">
                            Floor
                        </label>
                        <select class="form-control col-sm-3" id="ddlfloor"></select>
                    </div>

                    <div class="col-sm-12">
                        <div class="range-slider">
                            Adjust Light <input class="range-slider__range" type="range" id="floorSlidar" value="0" min="0" max="100" disabled="disabled">
                            <span class="range-slider__value">0</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-12" style="margin-top: 28%;">
        <form data-toggle="validator" class="col-sm-6" role="form" id="frmSchedule">
            <h4>Create New Schedule</h4>
            <hr />

            <div class="form-group">
                <label for="scheduleStartDate">Schedule Start Date</label>
                <div class="input-group date" >
              
                    <input type="text" id="scheduleStartDate" style="width:166px" class="form-control">
                    <span class="input-group-addon" style="float:right;width: 36px;height: 34px;">
                        <i class="fa fa-calendar fa-2x" style="margin-left: -24px;height: 0px;width: 0px;"></i>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="scheduleEndDate">Schedule End Date</label>
                <div class="input-group date" >

                    <input type="text" id="scheduleEndDate" style="width:166px" class="form-control">
                    <span class="input-group-addon" style="float:right;width: 36px;height: 34px;">
                        <i class="fa fa-calendar fa-2x" style="margin-left: -24px;height: 0px;width: 0px;"></i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="ddlDay">Day</label>
                <select class="form-control" name="ddlDay" id="ddlDay" required></select>
            </div>

            <div class="form-group ">
                <label for="time">Time</label>
                <input type="time" class="form-control" style="width:27% !important" step="2" name="time" id="textTime" required />
            </div>

            <div class="form-group">
                <label for="ddlDevice">Device</label>
                <select class="form-control" id="ddlDevice" name="ddlDevice" required></select>
            </div>

            <div class="form-group">
                <label for="ddlObject">Object</label>
                <select class="form-control" id="ddlObject" name="ddlObject" required></select>
            </div>

            <div class="form-group ">
                <label for="presentValue">Present Value</label>
                <input type="number" class="form-control" style="width:25% !important" name="presentValue" id="presentValue" required />
            </div>

            <button type="submit" class="btn btn-primary" id="btnSchedule">Schedule</button>
            <button type="reset" style="background-color:indianred;" class="btn btn-primary " id="btnReset">Reset</button>
        </form>
        <div class="col-sm-6">
            <h4>Schedule </h4>
            <hr />
            <div id="scheduleListShow">
                <table id="scheduleRecords" class="cell-border" cellspacing="0"></table>
            </div>
            <div id="norecords">
                <h4>No Schedule exist.</h4>
            </div>
            <table id="scheduleDaysRecords" class="cell-border displaynone" cellspacing="0"></table>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="addNewSchedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Add Weekly Schedule</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form data-toggle="validator" class="col-sm-12" role="form" id="frmNewSchedule">

                        <div class="form-group">
                            <label for="ddlNewDay">Day</label>
                            <select class="form-control" name="ddlNewDay" id="ddlNewDay" required></select>
                        </div>

                        <div class="form-group ">
                            <label for="timeNew">Time</label>
                            <input type="time" class="form-control" style="width:30% !important" step="2" name="timeNew" id="textNewTime" required />
                        </div>

                        <div class="form-group">
                            <label for="ddlNewObject">Object</label>
                            <select class="form-control" id="ddlNewObject" name="ddlNewObject" required></select>
                        </div>

                        <div class="form-group ">
                            <label for="presentNewValue">Present Value</label>
                            <input type="number" class="form-control" style="width:25% !important" name="presentNewValue" id="presentNewValue" required />
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnNewSchedule">Add Weekly-Schedule</button>
                    <button style="background-color:indianred;" class="btn btn-primary " id="btnNewReset">Cancle</button>
                </div>
            </div>
        </div>
    </div>

    <!---Modal end-->
</body>

</html>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/datatable.min.js"></script>
<script src="~/Scripts/jquery-confirm.js"></script>



<script src="~/Content/Script/Pages/LutronLightFloor.js"></script>

